# /vendor/
/node_modules/*
# npm-debug.log
# yarn-error.log


# tools
# # storage/*.key
.env
# Homestead.yaml
# Homestead.json
# /.vagrant
# .phpunit.result.cache

.DS_Store
vendor
.phpunit.result.cache
.vscode
tools
